<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Health Tracker</title>
</head>
<body>
  <div class="container">
    <header>
      <h1>Health Tracker</h1>
    </header>
    <form action="" class="form-view">
      <label for="">Search</label>
      <input class="form-search" type="search" placeholder="Search for food...">
      <button class="form-btn" type="submit">Search</button>
    </form>
    <section class="response">
      <h2>Response</h2>
      <ul class="response-list"></ul>
    </section>
    <section class="added">
      <h2>Added</h2>
      <ul class="added-list"></ul>
    </section>
  </div>

  <!-- Result template -->
  <script type="text/template" id="response-template">
    <div class="response-item--name"><%= name %></div>
    <div class="response-brand--name"><%= brand %></div>
    <div class="response-item--cal"><%= cal %></div>
    <div><button data-id=<%= id %> class="response-btn-add">Add</button></div>
  </script>

</body>
</html>
