<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Health Tracker</title>
</head>
<body>
  <div class="container">
    <header>
      <h1>Health Tracker</h1>
    </header>
    <form action="" class="form-view">
      <label for="">Search</label>
      <input class="form-search" type="search" placeholder="Search for food...">
      <br>
      <label for="">Min calories: </label>
      <input class="form-min-cal" type="number" min="0" placeholder="0">
      <br>
      <label for="">Max calories : </label>
      <input class="form-max-cal" type="number" min="0" placeholder="400">
      <br>
      <button class="form-btn" type="submit">Search</button>
    </form>
    <section class="response">
      <h2>Response</h2>
      <ul class="response-list"></ul>
    </section>
    <section class="added">
      <h2>Added</h2>
      <ul class="added-list"></ul>
    </section>
    <section class="eaten">
      <h2>Eaten</h2>
      <ul class="eaten-list"></ul>
    </section>
    <footer class="cal-container">
      <div class="cal-amount">Cal :</div>
      <div class="day-amount">Today's :</div>
    </footer>
  </div>

  <!-- Result template -->
  <script type="text/template" id="response-template">
    <div class="response-item--name"><%= name %></div>
    <div class="response-item--brand"><%= brand %></div>
    <div class="response-item--cal"><%= cal %></div>
    <div><button data-id=<%= id %> class="response-btn-add">Add</button></div>
  </script>
  <!-- Added template -->
  <script type="text/template" id="added-template">
    <div class="added-item--name"><%= name %></div>
    <div class="added-item--brand"><%= brand %></div>
    <div class="added-item--cal"><%= cal %></div>
    <div><button data-id=<%= id %> class="added-btn-eat">Eat</button></div>
    <div><button data-id=<%= id %> class="added-btn-rmv">Remove</button></div>
  </script>
  <!-- Added template -->
  <script type="text/template" id="eaten-template">
    <div class="eaten-item--name"><%= name %></div>
    <div class="eaten-item--brand"><%= brand %></div>
    <div class="eaten-item--cal"><%= cal %></div>
  </script>

</body>
</html>
